
.body{
    width: 100%;
    height: 100%;
}
.BOSS{
    width: 830px;
    height: 1450px;
    margin: auto;
    border: black solid 1px;
}

.papa{
    display:flex;   
}
.text1{
    margin: 15px;
     font-size: 130%;
}
.text2{
    margin: 25px 50px 50px;
     
}
.text3{
 margin: 50px;
}
.text4{
   margin: 50px;
}
h3{
    color: rgb(102, 102, 165);
}